/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fa;
    color: #333;
    line-height: 1.6;
}

/* Container */

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Header */

header {
    background: #0B57D0;
    color: white;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero */

.hero {
    text-align: center;
    padding: 100px 20px;
    background: white;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: auto;
}

.button {
    display: inline-block;
    margin-top: 35px;
    padding: 15px 35px;
    background: #0B57D0;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.button:hover {
    background: #0845a3;
}

/* Feature Cards */

.features {
    padding: 60px 0;
}

.features .container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 250px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

/* About */

.about-preview {
    background: #eef3fb;
    text-align: center;
    padding: 80px 20px;
}

/* Footer */

footer {
    background: #0B57D0;
    color: white;
    text-align: center;
    padding: 25px;
}